/* defining fonts */
$font-name:"Dejavu Sans Mono";
$normal-font-name:"Dejavu Sans Mono";
$bold-font-name:"Dejavu Sans Mono Bold";
$bold-oblique-font-name:"Dejavu Sans Mono Bold Oblique";
$normal-oblique-font-name:"Dejavu Sans Mono Oblique";
@font-face {
    font-family: $normal-font-name;
    font-weight: normal;
    src: url('../fonts/DejaVuSansMono.woff') format("woff");
}

@font-face {
    font-family: $bold-font-name;
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/DejaVuSansMono-Bold.woff') format("woff");
}

@font-face {
    font-family: $bold-oblique-font-name;
    font-weight: bold;
    font-style: oblique;
    src: url('../fonts/DejaVuSansMono-BoldOblique.woff') format("woff");
}

@font-face {
    font-family: $normal-oblique-font-name;
    font-style: oblique;
    font-weight: normal;
    src: url('../fonts/DejaVuSansMono-Oblique.woff') format('woff');
}