/* Media */


@media screen and (max-width: 575.98px) {
    .main-logo {
        width: 50%;
    }

    header#main-header nav ul li {

        font-size: 0.98rem;


    }

    .my-name {
        font-size: 1.9rem;
    }

    .my-passion {
        font-size: 1.2rem;

    }
}